* {
    box-sizing: border-box;

  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

header {
    background-color: #2c6e49;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
  }

header.img {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    padding: 1%;
    background: url("https://vastphotos.com/files/uploads/photos/10520/peaceful-green-forest-l.jpg");
    color: #fefee3;
  }

.headerText {
    position: relative;
    text-align: center;
    color: #d68c45;
    font-size: x-large;
  }
  
.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 16px;
  }

h1 {
    font-size: 400%;
    font-family: 'Franklin Gothic Medium';
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffc9b9;
  }

  mark {
    background-color: #b9C6ae;
    font-family: 'Franklin Gothic Medium';
    color: #ffc9b9;
  }

  .table {
    display: table right; 
    margin-right: 40px;  
    margin: 0 auto;
  }

li {
    margin-left:auto;
  }

nav ul {
    display: flex;
    text-align: right;
  }
  
 nav a {
    background-color: #2c6e49;
    text-align: right;
    color: #b9C6ae;
    text-decoration: underline;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 200%;
    width: 2000px;
  }

  
ul {
    list-style-type: none;
    float: right;
}

ul#horizontal-list {
	min-width: 800px;
	list-style: none;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 20px;
	}
	ul#horizontal-list li {
		display: inline right;
	}

h2,h3,h4 {
    display: inline-block;
    padding: 30px;
    color: #d68c45;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    border-right-color: #4c956c;
    border-right-style:solid;
    border-right-width: 5px;
}
h2, p {
   display: inline-block;
   padding: 30px;
}

h3, .container, .card, .box {
   display: inline-block;
   flex-direction: row;
  flex-wrap: wrap;
   padding: 30px;
}

h4, p {
   display: inline-block;
   padding: 30px;
}

.aside {
    display: left;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.container {
    flex: 4;
    background-color: #ffc9b9;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }

.box {
    color: #4c956c;
}

ul.contact {
    display: flex;
    text-align: right;
    justify-content: space-between;
    min-width: 300px;
    color: #b9C6ae;
    font-size: medium
    text-decoration: underline;
    margin: 5px 5px 5px 20px;
}